absl-py==0.2.2
argcomplete==1.9.3
astor==0.7.1
base58==1.0.0
boto3==1.7.58
botocore==1.10.58
certifi==2018.4.16
cfn-flip==1.0.3
chardet==3.0.4
click==6.7
docutils==0.14
durationpy==0.5
Flask==1.0.2
future==0.16.0
gast==0.2.0
grpcio==1.13.0
h5py==2.8.0
hjson==3.0.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
kappa==0.6.0
Keras==2.1.6
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
lambda-packages==0.20.0
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.5
Pillow==5.2.0
placebo==0.8.1
protobuf==3.6.0
python-dateutil==2.6.1
python-slugify==1.2.4
PyYAML==3.12
requests==2.19.1
s3transfer==0.1.13
scipy==1.1.0
six==1.11.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
Theano==1.0.2
toml==0.9.4
tqdm==4.19.1
troposphere==2.3.1
Unidecode==1.0.22
urllib3==1.23
Werkzeug==0.14.1
wsgi-request-logger==0.4.6
zappa==0.46.1
